{% extends 'layouts/app.twig' %}

{% block content %}
    <header class="container mx-auto pt-8 md:pt-24 px-8 md:px-0">
        <div class="md:w-2/3 md:ml-auto">
            <h1 class="text-4xl text-secondary-500 mb-4">
                {% if branch %}
                    {% if branch.slug is same as('interim') %}
                        {{ __('Actuele %s opdrachten en projecten', 'ppmm')|format(branch.title|lower) }}
                    {% else %}
                        {{ __('Actuele %s vacatures', 'ppmm')|format(branch.title|lower) }}
                    {% endif %}
                {% else %}
                    {{ __('Actuele vacatures', 'ppmm') }}
                {% endif %}

                {% if query.query_vars.regio %}
                    {{ __('in %s')|format(query.query_vars.regio|join(' &amp; ')) }}
                {% endif %}
            </h1>
            {% if branch %}
                <section class="branch-description--wrapper">
                    <p class="branch-description">
                        {{ branch.description }}
                    </p>
                    <img src="{{ Image(branch.meta('icon')).src }}" class="branch-icon" />
                </section>
            {% endif %}
        </div>
    </header>

    <!-- Main content -->
    <section class="container mx-auto md:flex py-8 px-8 md:px-0">
        <aside id="vacature_filter" class="md:w-1/4">
            <button onclick="toggleFilter()" class="button w-full mb-4 md:hidden"><i class="fas fa-filter"></i></button>
            <script>
                function toggleFilter() {
                    document.querySelector('.filter-vacancy').classList.toggle('hidden');
                }
            </script>
            <form method="get" class="filter-vacancy hidden md:block">
                <div class="form-group border-l-12 border-secondary-500 bg-primary-200 p-8">
                    {% include 'partials/search-form.twig' %}

                    <strong class="block">{{ __('Vakgebied', 'ppmm') }}</strong>
                    <div class="form-group-controls">
                        {% for vakgebied in vakgebieden %}
                           <div class="input-control block">
                               <label for="vakgebied_{{ vakgebied.term_id }}" class="checkarea">
                                   {% if query.query_vars.vakgebied %}
                                       <input
                                               type="checkbox"
                                               class="checkbox"
                                               name="vakgebied_{{ vakgebied.term_id }}"
                                               id="vakgebied_{{ vakgebied.term_id }}"
                                               value="{{ vakgebied.slug }}"
                                               data-branche="{{ vakgebied.slug }}"
                                               {{ ( vakgebied.slug in query.query_vars.vakgebied)? 'checked' : '' }}
                                               data-param="vakgebied"
                                       />
                                   {% else %}
                                       <input type="checkbox" class="checkbox" name="vakgebied_{{ vakgebied.term_id }}" id="vakgebied_{{ vakgebied.term_id }}" value="{{ vakgebied.slug }}" data-vakgebied="{{ vakgebied.slug }}" data-param="vakgebied" />
                                   {% endif %}
                                   <span class="label py-1 block">{{ vakgebied.name }}</span>
                               </label>
                           </div>
                        {% endfor %}
                    </div>

                    <strong class="block mt-4">{{ __('Organisatie', 'ppmm') }}</strong>
                    <div class="form-group-controls">
                        {% for organisation in organisations %}
                           <div class="input-control block">
                               <label for="organisatie_{{ organisation.term_id }}" class="checkarea">
                                   {% if query.query_vars.organisatie %}
                                       <input
                                               type="checkbox"
                                               class="checkbox"
                                               name="organisatie_{{ organisation.term_id }}"
                                               id="organisatie_{{ organisation.term_id }}"
                                               value="{{ organisation.slug }}"
                                               data-branche="{{ organisation.slug }}"
                                               {{ (organisation.slug in query.query_vars.organisatie)? 'checked' : '' }}
                                               data-param="organisatie"
                                       />
                                   {% else %}
                                       <input type="checkbox" class="checkbox" name="organisatie_{{ organisation.term_id }}" id="organisatie_{{ organisation.term_id }}" value="{{ organisation.slug }}" data-organisatie="{{ organisation.slug }}" data-param="organisatie" />
                                   {% endif %}
                                   <span class="label py-1 block">{{ organisation.name }}</span>
                               </label>
                           </div>
                        {% endfor %}
                    </div>

                    <strong class="block mt-4">{{ __('Regio', 'ppmm') }}</strong>
                    <div class="form-group-controls">
                        {% for region in regions %}
                            <div class="input-control block">
                                <label for="regio_{{ region.term_id }}" class="checkarea">
                                    {% if query.query_vars.regio %}
                                        <input
                                                type="checkbox"
                                                class="checkbox"
                                                name="regio_{{ region.term_id }}"
                                                id="regio_{{ region.term_id }}"
                                                value="{{ region.slug }}"
                                                data-regio="{{ region.slug }}"
                                                {{ ( region.slug in query.query_vars.regio)? 'checked' : '' }}
                                                data-param="regio"
                                        />
                                    {% else %}
                                        <input type="checkbox" class="checkbox" name="regio_{{ region.term_id }}" id="regio_{{ region.term_id }}" value="{{ region.slug }}" data-regio="{{ region.slug }}" data-param="regio" />
                                    {% endif %}
                                    <span class="label py-1 block">{{ region.name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </form>
        </aside>
        <main class="md:w-2/3 ml-auto">
            {% for post in posts %}
                {{ include('partials/tease/vacature.twig', { post: post }) }}
            {% endfor %}
            <aside id="pagination" class="flex justify-between">
                <span class="text-secondary-500 hidden md:block">{{ __("%d van de %d vacatures", 'ppmm')|format(posts|length, query.found_posts) }}</span>
                {{ include('partials/archive/pagination.twig') }}
            </aside>
            <p class="mt-4">
                Ben je op zoek naar een functie bij een projectontwikkelaar, bouwonderneming, woningbouwcorporatie, vastgoedbelegger, (bedrijfs-) makelaardij, notariskantoor, advocatenkantoor, financieel adviesbureau, gespecialiseerd taxatiebureau of vastgoedbeheerder?
            </p>
            <p>
                Real Estate Recruiters heeft veel vacatures bij gerenommeerde vastgoedorganisaties, makelaardijen, financiele en juridische organisaties. Zij zijn op zoek naar talentvolle professionals.
            </p>
        </main>
    </section>
{% endblock %}
