{% extends 'layouts/app.twig' %}

{% block content %}
    <header class="header-frontpage py-12">
        <div class="container mx-auto">
            <h1 class="text-4xl my-auto block mb-4">
                kies hier vacatures in jouw vakgebied
            </h1>
            <section class="flex flex-wrap px-8 md:px-0">
                {% for branche in branches %}
                    {{ include('partials/tease/branche.html.twig', { branche: branche }) }}
                {% endfor %}
            </section>
        </div>
    </header>
    <main class="container main-content px-8 md:px-0">
        <aside class="md:w-1/3">
            {% set _imgContent = Image(post.meta('foto_content')) %}
            <picture>
                <source srcset="{{ _imgContent.src('medium') }}" media="(max-width: 413px)" />
                <source srcset="{{ _imgContent.src('medium_large') }}" media="(min-width: 414px) and (max-width: 768px)" />
                <img src="{{ _imgContent.src('large') }}" alt="{{ _imgContent.alt }}"  class="homepage-img">
            </picture>
        </aside>
        <section class="content md:w-1/3 md:mx-8 md:py-8 pb-0">
            {{ post.content|wpautop|shortcodes }}
        </section>
        <aside class="md:w-1/3">
            <article class="border-l-12 border-secondary-500 bg-primary-200 p-8 content">
                {{ post.meta('sidebar_content') }}
            </article>
        </aside>
    </main>
{% endblock %}
