<div class="bg-primary-500 px-4 md:px-0">
    <div class="container mx-auto">
        <nav class="topbar-menu" role="doc-pagelist">
            {% for item in topBarMenu.items %}
                <a title="{{ item.title }}" class="topbar-menu-item md:mx-4 text-white" href="{{ item.link }}">
                    {{ item.title }}
                </a>
            {% endfor %}
        </nav>
    </div>
</div>


<header class="header">
    <section class="container mx-auto py-4 flex flex-wrap px-4 md:px-0">
        <div class="site-branding" data-template="helpers.base-header.twig">
            {{ fn('the_custom_logo') }}
        </div><!-- .site-branding -->

        <button class="ml-auto md:hidden" onclick="document.getElementById('mobile-menu').classList.toggle('hidden')">
            <i class="fas fa-bars text-2xl text-secondary-500"></i>
        </button>
        <nav class="md:flex md:flex-row md:pb-0 md:relative md:ml-auto md:items-center md:w-auto w-full hidden flex-col pb-2" id="mobile-menu">
            {% for item in primaryMenu.items %}
                <section class="flex md:mx-4 relative flex-col md:flex-row"
                        {% if item.children %}
                            data-hover-target="hover_{{ item.id }}"
                        {% endif %}
                >
                    <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}">
                        {{ item.title }}
                    </a>
                    {% if item.children %}
                        <nav class="md:absolute md:hidden submenu-container md:shadow md:bg-primary-500 md:p-4 md:w-content text-right md:text-left" data-hover-anchor="hover_{{ item.id }}" >
                            {% for child in item.children %}
                                <a href="{{ child.link }}" class="submenu-item pb-2 block{{ child.classes|join(' ') }}">
                                    {{ child }}
                                </a>
                            {% endfor %}
                        </nav>
                    {% endif %}
                </section>
            {% endfor %}
        </nav>
    </section>
</header>
