<article class="homepage-branche-tease"
         style="background-image: url('{{
         Image(branche.meta('featured_image')).src('medium_large')?? '//via.placeholder.com/350x250'
         }}')">
    <a href="/vacatures/{{ branche.slug }}" title="Bekijk {{ branche.title }} vacatures"></a>
    <section class="animation-container">
        <h3 class="branche-title">{{ branche.title }}</h3>
        <h4 class="payoff">{{ branche.meta('payoff') }}</h4>
    </section>
    <figure class="ml-auto">
        <img src="{{
            Image(branche.meta('icon_white')).src
            ?? '//via.placeholder.com/150x150'
        }}" alt="{{ branche.title }}">
    </figure>
</article>
