<article class="home-tease-vacature md:w-1/3">
    {% set _regios = post.terms('regio') %}
    {% set _branches = post.terms('branche') %}
    {% set _functies = post.terms('functie') %}
    {% set _opdrachtgevers = post.terms('opdrachtgever') %}
    <header>
        <h3 class="text-xl"><a href="{{ post.link }}" title="Vacature {{ post.title }}">{{ post.title }}</a></h3>
    </header>
    <main class="flex flex-col home-tease-vacature-main my-auto mb-4">
        <span class="home-tease-vacature__usp py-2"><span class="font-semibold">{{ __('Regio', 'ppmm') }}</span>: {{ post.terms('regio')[0].name }}</span>

        <aside class="flex justify-between flex-col my-auto">
            <span class="home-tease-vacature__usp">
                {% for branch in post.terms('branche') %}
                    <figure>
                        <img src="{{ Image(branch.meta('icon')).src }}" alt="{{ Image(branch.meta('icon')).alt }}" />
                    </figure>
                {% endfor %}
            </span>
        </aside>
    </main>
    <footer class="mt-auto">
        <a href="{{ post.link }}" title="Vacature {{ post.title }}" class="button inline-block">{{ __('Bekijk vacature', 'ppmm') }}</a>
    </footer>
</article>
